; top-most EditorConfig file
root = true

; Unix-style newlines
[*]
end_of_line = LF
indent_style = space
indent_size = 4

;YAML
[**.yaml]
indent_size = 2

;HTML
;[**.html]
;indent_style = space
;indent_size = 2

;PHP
;[**.php]
;indent_style = space
;indent_size = 2

; Tab indentation (no size specified)
;[**.js]
;indent_style = space
;indent_size = 2

; Indentation override for all JS under lib directory
;[lib/**.js]
;indent_style = space
;indent_size = 2
