/* Coolors Exported Palette - coolors.co/ffb222-d72c66-882c62-4e2c20-4e9f75 */

$color1: #ffb222; //rgba(255, 178, 34, 100)
$color2: #d72c66; //rgba(215, 44, 102, 100)
$color3: #882c62; //rgba(136, 44, 98, 100)
$color4: #4e2c20; //rgba(78, 44, 32, 100)
$color5: #4e9f75; //rgba(78, 159, 117, 100)