---
layout: default
---

{% include header-home.html %}


<div class="max-width-5 mx-auto">
    <main class="site-hold m2 mt3 mb4 sm-m3 md-m4 md-pb4 px2 sm-px3 md-px4">
        <section class="mt3 md-mt4">
            <h2 class="sans h4 caps m0 bb bd-red red">Featured Work</h2>
            <ul class="grid-list list-reset clearfix mxn2">
            {% for post in site.portfolio reversed %}
                {% if post.featured == false %}
                    {% continue %}
                {% endif %}
                {% include grid-item.html post=post %}
            {% endfor %}
            </ul>
            <h2 class="sans h4 caps m0 bb bd-red red">More Work</h2>
            <ul class="list-reset">
                {% for post in site.portfolio reversed %}
                    {% if post.featured == true %}
                        {% continue %}
                    {% endif %}
                    {% include list-item.html post=post %}
                {% endfor %}
            </ul>

        </section>
    </main>
</div>
