---
layout: default
---

<main class="site-hold mb4">
    <article class="page post">
        <header class="post-header bd bd-red  m2 sm-m3 md-m4 p2 sm-p3 md-p4">
            {% include nav.html interior=true %}

            <h1 class="post-title h0 m0 mt2 md-mt3 red" itemprop="name headline">{{ page.title }}</h1>
            {% if page.intro %}
            <p class="post-excerpt serif h1 mt3 mb0 max-width-3">{{ page.intro }}</p>
            {% endif %}
            <p class="project-year mb0 mt3 bold">{{ page.year }}</p>
        </header>
        <div class="post-content mx2 sm-mx3 md-mx4 h3" itemprop="articleBody">
            {% for block in page.blocks %}
            <div class="block mt3">
                {% if block.heading %}
                <h2 class="max-width-3 px2 sm-px3 md-px4 ">{{ block.heading }}</h2>
                {% endif %}
                {% if block.body %}
                    <div class="max-width-3 px2 sm-px3 md-px4 ">
                        {{ block.body | markdownify }}
                    </div>
                {% endif %}
                {% if block.figure %}
                    <figure class="sm-full-width">{% picture portfolio {{ block.figure.image }} alt="{{ block.figure.alt }}" class="border bd-bonjour " %}{% if block.figure.caption %}<figcaption class="max-width-3 mt1 px2 sm-px3 md-px4 h5">{{ block.figure.caption | markdownify }}</figcaption>{% endif %}</figure>
                {% endif %}
                {% if block.callout %}
                    <div class="max-width-3 px2 sm-px3 md-px4 h1 serif">
                        {{ block.callout | markdownify }}
                    </div>
                    <!-- /.max-width-3 px2 sm-px3 md-px4 h1 -->
                {% endif %}
            </div>
            {% endfor %}
            {% if content.size > 1 %}
            <div class="max-width-3">
                {{ content }}
            </div>
            {% endif %}
        </div>
    </article>
</main>

<article class="post">

</article>
