---
layout: default
---

<div class="max-width-5 mx-auto">
    <main class="site-hold mb4">
        <article class="page post">
            <header class="post-header bd bd-red  m2 sm-m3 md-m4 p2 sm-p3 md-p4">
                <div class="clearfix">
                    {% include nav.html interior=true %}
                </div>

                <h1 class="post-title h0 m0 mt2 md-mt3 red" itemprop="name headline">{{ page.title }}</h1>
                {% if page.intro %}
                <p class="post-excerpt serif h1 my0 max-width-4">{{ page.intro }}</p>
                {% endif %}
                <p class="project-year mb0 mt3 bold">{{ page.year }}</p>
            </header>
            <div class="post-content mx2 sm-mx3 md-mx4 h3" itemprop="articleBody">
                {% for block in page.blocks %}
                <div class="block mt3">
                    {% if block.heading %}
                    <h2 class="max-width-4 px2 sm-px3 md-px4 ">{{ block.heading }}</h2>
                    {% endif %}
                    {% if block.body %}
                        <div class="max-width-4 px2 sm-px3 md-px4 u-cms">
                            {{ block.body | markdownify }}
                        </div>
                    {% endif %}
                    {% if block.figure %}
                        <figure class="sm-full-width">{% picture {{ block.figure.image }} alt="{{ block.figure.alt }}" class="border bd-bonjour " %}{% if block.figure.caption %}<figcaption class="max-width-3 mt1 px2 sm-px3 md-px4 h5">{{ block.figure.caption | markdownify }}</figcaption>{% endif %}</figure>
                    {% endif %}
                    {% if block.callout %}
                        <div class="max-width-4 px2 sm-px3 md-px4 h1 serif">
                            {{ block.callout | markdownify }}
                        </div>
                        <!-- /.max-width-4 px2 sm-px3 md-px4 h1 -->
                    {% endif %}
                    {% if block.quote %}
                        <blockquote class="max-width-4 mx0 px2 sm-px3 md-px4 h1 serif red bl" id="{{ page.slug | append:"-" | append: forloop.index }}">
                            {{ block.quote | markdownify }}
                        </blockquote>
                        <!-- /.max-width-4 px2 sm-px3 md-px4 h1 -->
                    {% endif %}

                    {% if block.embed %}
                        <div class="p2" style="background-color: #f4f3f6">
                            <div class="mx-auto" style="width: 80%; max-width: 32em;">
                                <div class="xs-hide">
                                    {{ block.embed }}
                                </div>
                                {% if block.embed.link %}
                                <div class="xs-show">
                                    <a href="{{ block.embed.link }}">{{ block.embed.link }}</a>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    {% endif %}
                </div>
                {% endfor %}
                {% if content.size > 1 %}
                <div class="max-width-4">
                    {{ content }}
                </div>
                {% endif %}
            </div>
        </article>
    </main>
</div>
