* {
    box-sizing: border-box
}

html,
body {
    height: 100%;
}

body {
    width: 100%;
    margin: 0;
    font-family: 'freight-sans-pro', sans-serif;
    line-height: 1.5;
    background-color: #fff;
}

img,
video,
embed {
    max-width: 100%;
    height: auto;
}

iframe {
    max-width: 100%
}

figure {
    margin: 0;
}

a {
    text-decoration: underline;
    color: inherit;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.25rem;
}

h4 {
    font-size: 1rem;
}

h5 {
    font-size: .875rem;
}

h6 {
    font-size: .75rem;
}

blockquote {
    margin: 0;
}

hr {
    margin-top: 3em;
    margin-bottom: 3em;
    border: 0;
    border-bottom: 3px solid;
}

.h0 {
    font-size: 2rem;
}

@media (min-width: 52em) {
    .h0 {
        font-size: 4rem;
    }
}

.btn {
    display: inline-block;
    padding: .25em 1.25em;
    margin: 0;
    font-family: inherit;
    font-weight: 600;
    text-decoration: none;
    color: inherit;
    border: 2px solid;
    border-radius: 3px;
    background-color: transparent;
}

.hbtn:hover {
    box-shadow: inset 0 0 0 1px;
}

.bonjour {
    color: #E2DCDE;
}

.calypso {
    color: #388697;
}

.heavy-metal {
    color: #2A2B2A;
}

.saddle {
    color: #4e2c20;
}

.tarawera {
    color: #08415C;
}

.red {
    color: #d72c66
}

.pink-lady {
    color: #fff0d8;
}

.white {
    color: #fff;
}

.bd-bonjour {
    border-color: #E2DCDE;
}

.bd-red {
    border-color: #d72c66;
}

.bd-calypso {
    border-color: #08415C;
}

.bd-pink-lady {
    border-color: #fff0d8;
}

.bg-red {
    background-color: #d72c66
}

.bg-pink-lady {
    background-color: #fff0d8;
}

.bd {
    border-width: 3px;
    border-style: solid;
}

.bt {
    border-top-width: 3px;
    border-top-style: solid;
}

.br {
    border-right-width: 3px;
    border-right-style: solid;
}

.bb {
    border-bottom-width: 3px;
    border-bottom-style: solid;
}

.bl {
    border-left-width: 3px;
    border-left-style: solid;
}

.bl2 {
    border-left-width: 6px;
    border-left-style: solid;
}

.bl2 {
    border-left-width: 9px;
    border-left-style: solid;
}

.post-item__content > * {
    margin: 0;
}

.grid-item picture,
.grid-item img {
    display: block;
}


.u-cms ul {
    padding-left: 0;
    margin-left: -1rem;
    list-style: none;
}

.u-cms ul li {
    padding-left: 1rem;
    border-left: 4px solid #53C9E2
}

.u-cms li + li {
    margin-top: 4px;
}


.table-row {
    display: table-row;
}

.max-width-5 {
    max-width: 90rem;
}

.serif {
    font-family: 'freight-text-pro', serif;
}


@media screen and (min-width: 40em) {
    .sm-white {
        color: #fff;
    }
    .sm-m3 {
        margin: 2rem
    }
    .sm-p3 {
        padding: 2rem
    }
    .sm-px3 {
        padding-right: 2rem;
        padding-left: 2rem
    }
    .sm-mxn3 {
        margin-right: -2rem;
        margin-left: -2rem;
    }
    .sm-absolute {
        position: absolute;
    }
    .sm-full-width {
        display: block;

    }
    .sm-full-width img {
        display: block;
        width: 100%;
    }
}

@media screen and (min-width: 52em) {
    .md-m4 {
        margin: 4rem
    }
    .md-mx4 {
        margin-right: 4rem;
        margin-left: 4rem;
    }
    .md-mxn4 {
        margin-right: -4rem;
        margin-left: -4rem;
    }
    .md-mt0 {
        margin-top: 0;
    }
    .md-mt2 {
        margin-top: 1rem;
    }
    .md-mt3 {
        margin-top: 3rem;
    }
    .md-mt4 {
        margin-top: 4rem;
    }
    .md-ml1 {
        margin-left: .5rem;
    }
    .md-p4 {
        padding: 4rem
    }
    .md-px4 {
        padding-right: 4rem;
        padding-left: 4rem
    }
    .md-align-right {
        text-align: right;
    }
}
