@charset "UTF-8";
@font-face {
  font-family: "et-book";
  src: url("/et-book/et-book-roman-line-figures/et-book-roman-line-figures.eot");
  src: url("/et-book/et-book-roman-line-figures/et-book-roman-line-figures.eot?#iefix") format("embedded-opentype"), url("/et-book/et-book-roman-line-figures/et-book-roman-line-figures.woff") format("woff"), url("/et-book/et-book-roman-line-figures/et-book-roman-line-figures.ttf") format("truetype"), url("/et-book/et-book-roman-line-figures/et-book-roman-line-figures.svg#etbookromanosf") format("svg");
  font-display: swap;
  font-weight: normal;
  font-style: normal
}

@font-face {
  font-family: "et-book";
  src: url("/et-book/et-book-display-italic-old-style-figures/et-book-display-italic-old-style-figures.eot");
  src: url("/et-book/et-book-display-italic-old-style-figures/et-book-display-italic-old-style-figures.eot?#iefix") format("embedded-opentype"), url("/et-book/et-book-display-italic-old-style-figures/et-book-display-italic-old-style-figures.woff") format("woff"), url("/et-book/et-book-display-italic-old-style-figures/et-book-display-italic-old-style-figures.ttf") format("truetype"), url("/et-book/et-book-display-italic-old-style-figures/et-book-display-italic-old-style-figures.svg#etbookromanosf") format("svg");
  font-display: swap;
  font-weight: normal;
  font-style: italic
}

@font-face {
  font-family: "et-book";
  src: url("/et-book/et-book-bold-line-figures/et-book-bold-line-figures.eot");
  src: url("/et-book/et-book-bold-line-figures/et-book-bold-line-figures.eot?#iefix") format("embedded-opentype"), url("/et-book/et-book-bold-line-figures/et-book-bold-line-figures.woff") format("woff"), url("/et-book/et-book-bold-line-figures/et-book-bold-line-figures.ttf") format("truetype"), url("/et-book/et-book-bold-line-figures/et-book-bold-line-figures.svg#etbookromanosf") format("svg");
  font-display: swap;
  font-weight: bold;
  font-style: normal
}

/* Customization */
.visually-hidden {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
  background-color: var(--bg-body) !important;
  color: var(--text-body) !important;
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

.skip-link {
  background-color: var(--bg-body) !important;
  color: var(--text-body) !important;
    height: 30px;
    left: 50%;
    padding: 8px;
    position: absolute;
    transform: translateY(-100%);
    transition: transform 0.3s;

}

.skip-link:focus {
    transform: translateY(0%);

}

/* creativitas custom */
:root {
  --bg-body: #fffff8;
  --text-body: #111;
}

[data-theme="dark"] {
  --bg-body: #151515;
  --text-body: #eeeeee;
}

body {
  background-color: var(--bg-body) !important;
  color: var(--text-body) !important;
  transition: 0.3s;
}

.theme-container {
  display: block;
  clear: both;
  padding-top: 15px;
}

.mode-switcher {
  background-color: #E72257;
  color: white !important; 
  border: none;
  border-radius: 50px;
  padding: 6px 15px;
  font-size: 11px;
  font-weight: bold;
  cursor: pointer;
  text-transform: uppercase;
  font-family: inherit;
}

.buttonis-nav a {
  color: white !important;
  text-decoration: none;
}

/* Tufte CSS styles */
body {
    width: 87.5%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 8.5%;
    background-color: #151515;
    color: white;
    font-size: 15px;
    font-family: et-book, "Gill Sans Nova", Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
}

main {
    margin-left: auto;
    margin-right: auto;
	background-color: var(--bs-body-bg);
    color: var(--bs-body-color);
    counter-reset: sidenote-counter;
}


h1 {
    font-weight: 400;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    font-size: 3.2rem;
    line-height: 1;
}

h2 {
    font-style: italic;
    font-weight: 400;
    margin-top: 2.1rem;
    margin-bottom: 1.4rem;
    font-size: 2.2rem;
    line-height: 1;
}

h3 {
    font-style: italic;
    font-weight: 400;
    font-size: 1.7rem;
    margin-top: 2rem;
    margin-bottom: 1.4rem;
    line-height: 1;
}

hr {
    display: block;
    height: 1px;
    width: 55%;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

p.subtitle {
    font-style: italic;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1.8rem;
    display: block;
    line-height: 1;
}

.numeral {
}

.danger {
    color: red;
}

article {
    padding: 5rem 0rem;
}

section {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

p,
dl,
ol,
ul {
    font-size: 1.4rem;
    line-height: 2rem;
}

p {
    margin-top: 1.4rem;
    margin-bottom: 1.4rem;
    padding-right: 0;
    vertical-align: baseline;
}

/* Chapter Epigraphs */
div.epigraph {
    margin: 5em 0;
}

div.epigraph > blockquote {
    margin-top: 3em;
    margin-bottom: 3em;
}

div.epigraph > blockquote,
div.epigraph > blockquote > p {
    font-style: italic;
}

div.epigraph > blockquote > footer {
    font-style: normal;
}

div.epigraph > blockquote > footer > cite {
    font-style: italic;
}
/* end chapter epigraphs styles */

blockquote {
    font-size: 1.4rem;
}

blockquote p {
    width: 55%;
    margin-right: 40px;
}

blockquote footer {
    width: 55%;
    font-size: 1.1rem;
    text-align: right;
}

section > p,
section > footer,
section > table {
    width: 55%;
}

/* 50 + 5 == 55, to be the same width as paragraph */
section > dl,
section > ol,
section > ul {
    width: 50%;
    -webkit-padding-start: 5%;
}

dt:not(:first-child),
li:not(:first-child) {
    margin-top: 0.25rem;
}

figure {
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    max-width: 55%;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    margin: 0 0 3em 0;
}

figcaption {
    float: right;
    clear: right;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.1rem;
    line-height: 1.6;
    vertical-align: baseline;
    position: relative;
    max-width: 40%;
}

figure.fullwidth figcaption {
    margin-right: 24%;
}

a:link,
a:visited {
    color: inherit;
    text-underline-offset: 0.1em;
    text-decoration-thickness: 0.05em;
}

/* Sidenotes, margin notes, figures, captions */
img {
    max-width: 100%;
}

.sidenote,
.marginnote {
    float: right;
    clear: right;
    margin-right: -60%;
    width: 50%;
    margin-top: 0.3rem;
    margin-bottom: 0;
    font-size: 1.1rem;
    line-height: 1.3;
    vertical-align: baseline;
    position: relative;
}

.sidenote-number {
    counter-increment: sidenote-counter;
}

.sidenote-number:after,
.sidenote:before {
    position: relative;
    vertical-align: baseline;
}

.sidenote-number:after {
    content: counter(sidenote-counter);
    font-size: 1rem;
    top: -0.5rem;
    left: 0.1rem;
}

.sidenote:before {
    content: counter(sidenote-counter) " ";
    font-size: 1rem;
    top: -0.5rem;
}

blockquote .sidenote,
blockquote .marginnote {
    margin-right: -82%;
    min-width: 59%;
    text-align: left;
}
.fullwidth
div.fullwidth,
table.fullwidth {
    width: 100%;
}

div.table-wrapper {
    overflow-x: auto;
    font-family: "Gill Sans", "Gill Sans MT", "Gill Sans Nova", "Trebuchet MS", sans-serif;
}

.sans {
    font-family: "Gill Sans", "Gill Sans MT", "Gill Sans Nova", Calibri, sans-serif;
    letter-spacing: .03em;
}

code, pre > code {
    font-family: Courier, Consolas, "Liberation Mono", Menlo, monospace;
    font-size: 1.0rem;
    line-height: 1.42;
    -webkit-text-size-adjust: 100%; /* Prevent adjustments of font size after orientation changes in iOS. See https://github.com/edwardtufte/tufte-css/issues/81#issuecomment-261953409 */
}

.sans > code {
    font-size: 1.2rem;
}

h1 > code,
h2 > code,
h3 > code {
    font-size: 0.80em;
}

.marginnote > code,
.sidenote > code {
    font-size: 1rem;
}

pre > code {
    font-size: 0.9rem;
    width: 52.5%;
    margin-left: 2.5%;
    overflow-x: auto;
    display: block;
}

pre.fullwidth > code {
    width: 90%;
}

.fullwidth {
    max-width: 90%;
    clear:both;
}

span.newthought {
    font-variant: small-caps;
    font-size: 1.2em;
}

input.margin-toggle {
    display: none;
}

label.sidenote-number {
    display: inline-block;
    max-height: 2rem; /* should be less than or equal to paragraph line-height */
}

label.margin-toggle:not(.sidenote-number) {
    display: none;
}

.iframe-wrapper {
    position: relative;
    padding-bottom: 480px; /* 16:9 */
    padding-top: 10px;
    height: 0;
}

.iframe-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 460px;
}

@media (max-width: 760px) {
    body {
        width: 84%;
        padding-left: 8%;
        padding-right: 8%;
    }

    hr,
    section > p,
    section > footer,
    section > table {
        width: 100%;
    }

    pre > code {
        width: 97%;
    }

    section > dl,
    section > ol,
    section > ul {
        width: 90%;
    }

    figure {
        max-width: 90%;
    }

    figcaption,
    figure.fullwidth figcaption {
        margin-right: 0%;
        max-width: none;
    }

    blockquote {
        margin-left: 1.5em;
        margin-right: 0em;
    }

    blockquote p,
    blockquote footer {
        width: 100%;
    }

    label.margin-toggle:not(.sidenote-number) {
        display: inline;
    }

    .sidenote,
    .marginnote {
        display: none;
    }

    .margin-toggle:checked + .sidenote,
    .margin-toggle:checked + .marginnote {
        display: block;
        float: left;
        left: 1rem;
        clear: both;
        width: 95%;
        margin: 1rem 2.5%;
        vertical-align: baseline;
        position: relative;
    }

    label {
        cursor: pointer;
    }

    div.table-wrapper,
    table {
        width: 85%;
    }

    img {
        width: 100%;
    }
}

button,.btn {border:none;}
.black {
background-color: #151515;
color: white;
}

  .hamburger {
    cursor: pointer;
    list-style: none;
    float: right;
    padding: 10px;
    position: relative;
    display: inline-block;
  }

  .bar1, .bar2,.bar3 {
    width: 16px;
    height: 1px;
    background-color: white;
    margin-bottom: 5px;
  }

  .dropbtn {
    background-color: #3498db;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }

  .dropbtn:hover,
  .dropbtn:focus {
    background-color: #BE234D;
  }

  .dropdown {
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    top: 50px;
    background-color: black;
    min-width: 160px;
    overflow: auto;
    opacity: 0.8;
    border-radius: 16px;
    color:white;
    z-index: 1;
  }

  .dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown a:hover {
    background-color: #BE234D;
  }

  .show {
    display: block;
  }
.rounder {border-radius: 16px;}
.navi-btn {background-color:#E72257; border-radius:50px;}
.navis-btn {
border-radius:50px;
background-color: #E72257;
padding: auto;
text-align: center;
justify-content: center;
align-items: center;
}
.buttonis-nav {
background-color: #E72257;
color: #151515;
border-radius: 50px;
padding:5px;
margin-bottom: 15px;
}
button,btn,.buttonis {
background-color: #E72257;
color: #151515;
border-radius: 5px;
padding:5px;
}
.buttonis-nav:hover, .buttonis:hover ,.navi-btn:hover,.navis-btn:hover {background-color:#BE234D;color: white;}
.no-deco {text-decoration: none;}
.py-5 {padding-left: 15px; padding-right:15px;}
.me-5 {margin-left:15px;}
.pt-5 {padding-top:12px;}
.pt-3 {padding-top:5px;}
.pt-30 {margin-top:50px;}
.p-10 {padding:10px;}
.taptoc {padding:8px; font-size:16px; margin:auto;}
.red {color:red;}
.text-center {text-align:center;}
.text-small {font-size:13px;}
.mt-5 {margin-top: 35px;}
.text-pinky {color: #E72257;}
.taptoc ul,ul.taptoc {font-size:16px;}
li.pagefind-ui__result , p.pagefind-ui__result-title {color:white;}

@media only screen and (min-width: 400px) and (max-width: 600px){
.navbar {
margin-left:-47px;
margin-top:12px;
position: fixed;
border-radius: 16px;
}
}

@media only screen and (min-width: 600px) and (max-width: 1000px) {
.navbar {
margin-left:-62px;
margin-top:12px;
position: fixed;
border-radius: 16px;
}
}


@media only screen and (min-width: 1000px) and (max-width: 1400px) {
.navbar {
margin-left:-122px;
margin-top:12px;
position: fixed;
border-radius: 16px;
}
}

@media only screen and (min-width: 1400px){
.navbar {
margin-left:-202px;
margin-top:12px;
position: fixed;
}
}

.navi-btn, 
.navis-btn, 
.mode-switcher {
  display: flex !important;
  align-items: center;
  justify-content: center;
  width: 42px !important;
  height: 42px !important;
  background-color: #E72257 !important;
  color: white !important;
  border-radius: 50% !important;
  border: none !important;
  cursor: pointer;
  transition: all 0.3s ease;
  text-decoration: none !important;
  margin-left: auto;
  margin-bottom: 12px;
  padding: 0 !important;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.navi-btn:hover, .navis-btn:hover, .mode-switcher:hover {
  background-color: #BE234D !important;
  transform: translateY(-2px);
  box-shadow: 0 6px 12px rgba(0,0,0,0.2);
}

.navi-btn svg, .navis-btn svg, .mode-switcher svg {
  width: 20px !important;
  height: 20px !important;
  fill: white !important;
}

.hamburger {
  flex-direction: column;
}

.bar1, .bar2, .bar3 {
  width: 18px;
  height: 2px;
  background-color: white !important;
  margin: 2px 0;
}

.navis-btn svg {
  width: 22px !important;
  height: 22px !important;
  fill: white !important;
  stroke: white !important;
  stroke-width: 1.2px !important; 
  display: block;
}

.navis-btn {
  display: flex !important;
  align-items: center;
  justify-content: center;
  width: 42px !important;
  height: 42px !important;
  background-color: #E72257 !important;
  border-radius: 50% !important;
  margin-bottom: 12px;
  transition: 0.3s;
}

.navis-btn:hover {
  background-color: #BE234D !important;
  transform: scale(1.1);
}

.dropdown-content a {
  color: white !important;
  font-family: sans-serif;
  font-size: 14px;
}

.pt-30, .mt-5, .taptoc {
  margin: 0 !important;
  padding: 0 !important;
}

.theme-container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
.navis-btn svg {
  width: 24px !important;
  height: 24px !important;
  fill: white !important;
  display: block;
  margin: 0;
}

.navis-btn {
  line-height: 0 !important;
  overflow: hidden;
}
