<footer class="site-footer m2 sm-m3 md-m4 bt red" data-ui="site-footer">
    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
    {% if site.twitter_username %}
        <p>
            {% include icon-twitter.html username=site.twitter_username %}
        </p>
    {% endif %}
    <p>I’m looking for full-time work with a remote-friendly company. If you’re interested in working togther, drop me a line.{% if site.email %} <a href="mailto:{{ site.email }}">{{ site.email }}</a>{% endif %}
    </p>
</footer>
<!-- /.site-footer -->
