<footer class="site-footer p2 sm-p3 md-p4 white bg-red" data-ui="site-footer">
    <div class="px2 sm-px3 md-px4 clearfix  max-width-5 mx-auto">

            <div class="sm-col sm-col-8">
                <p class="h3 max-width-2 mt0">I’m looking for full-time work with a remote-friendly company.
                    <br class="sm-hide">If you’re interested in working together, <a class="bold text-decoration-none" href="mailto: thisis@benkutil.com">send me an email</a>.
                </p>
                <p><a class="text-decoration-none" href="http://madewithloveinbaltimore.org">Made with &hearts; from Baltimore</a>.</p>
                <p><a href="https://www.digitalocean.com/?refcode=20aca13cbfcd">Hosting by Digital Ocean</a></p>
            </div>
            <!-- /.sm-col-8 -->
            {% include nav-footer.html interior=true %}
    </div>
</footer>
<!-- /.site-footer -->

