{% if include.interior == true %}
<p class="md-col md-col-9 sans bold h4 caps m0">
    <a class="text-decoration-none" href="{{ '/' | prepend: site.baseurl }}">{{ site.title }}</a>
</p>
{% else %}
<h1 class="md-col md-col-9 sans bold h4 caps m0 red">
    <a class="text-decoration-none" href="{{ '/' | prepend: site.baseurl }}">{{ site.title }}</a>
</h1>
{% endif %}
<nav class="site-nav md-col md-col-3 right-align">
    {% if include.interior == true %}
    <a class="page-link ml1" href="{{ '/' | prepend: site.baseurl }}">Home</a>
    {% endif %}
    {% for my_page in site.pages %} {% if my_page.title %}
    <a class="page-link ml1" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a> {% endif %} {% endfor %}
</nav>
