---
permalink: feeds/posts.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
  <channel>
    <title>Posts from {{ siteData.title | safe }}</title>
    <description>Longer posts/thoughts on topics, mostly government and biking</description>
    <link>{{ siteData.url }}</link>
    <atom:link href="{{ permalink | absoluteUrl(siteData.url) }}" rel="self" type="application/rss+xml"/>
    <pubDate>{{ page.date | dateToRfc3339 }}</pubDate>
    <lastBuildDate>{{ page.date | dateToRfc3339 }}</lastBuildDate>
    <generator>Eleventy {{ eleventy.version }}</generator>
    {%- for item in collections.posts | reverse -%}
    {%- set absolutePostUrl = item.url | absoluteUrl(siteData.url) %}
      <item>
        <title>{{ item.data.title | htmlToAbsoluteUrls(absolutePostUrl) }}</title>
        <description>{{ item.data.content | htmlToAbsoluteUrls(absolutePostUrl) }}</description>
        <pubDate>{{ item.date | dateToRfc3339 }}</pubDate>
        <link>{{ absolutePostUrl }}</link>
        <guid isPermaLink="true">{{ absolutePostUrl  }}</guid>
      </item>
    {%- endfor -%}
  </channel>
</rss>