---
permalink: sitemap.xml
eleventyExcludeFromCollections: true
---

<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  {% for item in collections.all %} {%- set absolutePostUrl = item.url | absoluteUrl(siteData.url)
  %}
  <url>
    <loc>{{ absolutePostUrl }}</loc>
    <lastmod>{{ item.date | dateToRfc3339 }}</lastmod>
    {% if item.data.changeFreq %}
    <changefreq>{{ item.data.changeFreq }}</changefreq>
    {% else %}
    <changefreq>monthly</changefreq>
    {% endif %} {% if item.data.priority %}
    <priority>{{ item.data.priority }}</priority>
    {% else %}
    <priority>0.5</priority>
    {% endif %}
  </url>
  {% endfor %}
</urlset>
